<h1>Locations</h1>

<table>
<tr>
    <th>Name</th>
    <th>Address</th>
    <th>City</th>
    <th>State</th>
    <th>Zip Code</th>
</tr>
<% Location.all.each do |location|%>
    <%if current_user.id == location.user_id%>
        <tr>
            <td><%=location.name%></td>
            <td><%=location.address%></td>
            <td><%=location.city%></td>
            <td><%=location.state%></td>
            <td><%=location.zip_code%></td>
            <td><form action="/locations/<%=location.id%>" method="POST"> 
                <input id="hidden" type="hidden" name="_method" value="DELETE">
                <input type="submit" id="submit" value="delete"> 
            </td>
        </form>
        </tr>
    <%end%>
<%end%>
</table>

<p>
<button><a href="/locations/new"> Click Here to Add a New Location </a></button>
<button><a href="/books"> Go Back to List of Books </a></button>
<button><a href="/logout">Logout </a></button>
</p>


